openapi: 3.0.1
info:
  title: Schema Service
  description: |
    Manage the mixins schemas for miscellaneous types.
  contact:
    email: documentation@emporix.com
  version: ''
servers:
  - url: 'https://api.emporix.io'
paths:
  '/schema/{tenant}/schemas':
    parameters:
      - $ref: '#/components/parameters/tenant'
    post:
      tags:
        - Schema
      summary: Creating a schema
      description: |
        Creates a schema entity and generates json-schema representation which is then uploaded to cloudinary repository.

      operationId: POST-schema-create-schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaCreation'
            examples:
              Schema:
                value:
                  name:
                    en: Product Custom Attributes
                  types:
                    - PRODUCT
                  attributes:
                    - key: weight
                      name:
                        en: Weight of a product
                      description:
                        en: The exact weight of a product in grams.
                      type: TEXT
                      metadata:
                        readOnly: true
                        required: true
                    - key: size
                      name:
                        en: Size of a product
                      description:
                        en: The exact size of a product. Possible values are S, M, L.
                      type: ENUM
                      metadata:
                        readOnly: true
                        required: true
                      values:
                        - value: S
                        - value: M
                        - value: L
                    - key: advertisement
                      name:
                        en: Advertisement of a product
                      description:
                        en: A localized advertisement of a product.
                      type: TEXT
                      metadata:
                        localized: true
                        required: true
              Schema Array:
                value:
                  name:
                    en: Product Custom Attributes
                  types:
                    - PRODUCT
                  attributes:
                    - key: arrDecimal
                      name:
                        en: Array Decimal
                      type: ARRAY
                      arrayType:
                        type: DECIMAL
                      metadata: {}
                    - key: arrText
                      name:
                        en: Array Text
                      type: ARRAY
                      arrayType:
                        type: TEXT
                        localized: true
                      metadata: {}
                    - key: arrDateTime
                      name:
                        en: Array Date Time
                      type: ARRAY
                      arrayType:
                        type: DATE_TIME
                      metadata: {}
                    - key: arrEnum
                      name:
                        en: Array Enum
                      type: ARRAY
                      arrayType:
                        type: ENUM
                        values:
                          - value: S
                          - value: M
                          - value: L
                      metadata: {}
              Schema Object:
                value:
                  name:
                    en: Product Custom Attributes
                  types:
                    - PRODUCT
                  attributes:
                    - key: person
                      name:
                        en: Person
                      type: OBJECT
                      metadata: {}
                      attributes:
                        - key: name
                          name:
                            en: Name
                          type: TEXT
                          metadata: {}
                        - key: age
                          name:
                            en: Age
                          type: NUMBER
                          metadata: {}
                        - key: address
                          name:
                            en: Address
                          type: OBJECT
                          metadata: {}
                          attributes:
                            - key: street
                              name:
                                en: Street
                              metadata: {}
                              type: TEXT
                            - key: city
                              name:
                                en: City
                              type: TEXT
                              metadata: {}
                            - key: zipcode
                              name:
                                en: Zip Code
                              type: TEXT
                              metadata: {}

        description: ''
      responses:
        '201':
          description: The request was successful. The Schema has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Schema created:
                  value:
                    id: e241dc9e-a3f6-4573-bb01-a8ae21d2d4ae
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when the request does not contain sufficient scopes for the given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Forbidden:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need to choose the required scope to complete this action.
                    details:
                      - message: 'Required scope(s): schema.schema_manage'
        '409':
          $ref: '#/components/responses/Conflict_409'
      security:
        - OAuth2:
            - schema.schema_manage
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
    get:
      summary: Retrieving all schemas
      description: |-
        Retrieves all schemas. You can filter the results with query parameters.
      tags:
        - Schema
      responses:
        '200':
          description: ''
          headers:
            X-Total-Count:
              description: Total amount of schemas for given criteria.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemasResponse'
              examples:
                Schemas:
                  $ref: '#/components/examples/SchemasResponse'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: GET-schema-retrieve-schemas
      parameters:
        - $ref: '#/components/parameters/trail_xTotalCount_header'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_q_param'
        - $ref: '#/components/parameters/trait_fields'
        - name: type
          in: query
          description: |
            Filters schemas by type. Possible types to specify, CART, CART_ITEM, CATEGORY, COMPANY, COUPON, CUSTOMER, CUSTOMER.ADDRESS, ORDER, ORDER_ENTRY, PRODUCT, QUOTE, RETURN, PRICE_LIST, SITE, CUSTOM_ENTITY, VENDOR. When the newest version of the schema is of different type than the previous one and the previous one matches the type specified in this query param, then the previous version is returned.
          # DEV NOTE: If you add another type, the tutorial and MD guides have to be updated as well.
          schema:
            type: string
  '/schema/{tenant}/schemas/{id}':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/trait_schemaVersion'
    get:
      summary: Retrieving a schema
      description: |-
        Retrieves a single schema.
      tags:
        - Schema
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaResponse'
              examples:
                Schema:
                  $ref: '#/components/examples/SchemaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
      operationId: GET-schema-retrieve-schema
      parameters:
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
    delete:
      summary: Deleting a schema
      description: |-
        Deletes a single schema. It deletes just a database entry. The cloudinary reference file remains untouched.
      tags:
        - Schema
      responses:
        '204':
          description: 'No content'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: DELETE-schema-remove-schema
      security:
        - OAuth2:
            - schema.schema_manage
    put:
      summary: Updating a schema
      description: |-
        Updates a single schema. Each update releases a new version of json schema file.

      tags:
        - Schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaUpdate'
            examples:
              Schema:
                value:
                  name:
                    en: Product Custom Attributes
                  types:
                    - PRODUCT
                  attributes:
                    - key: weight
                      name:
                        en: Weight of a product
                      description:
                        en: The exact weight of a product in grams.
                      type: TEXT
                      metadata:
                        readOnly: true
                        required: true
                    - key: size
                      name:
                        en: Size of a product
                      description:
                        en: The exact size of a product. Possible values are S, M, L.
                      type: ENUM
                      metadata:
                        readOnly: true
                        required: true
                      values:
                        - value: S
                        - value: M
                        - value: L
                    - key: advertisement
                      name:
                        en: Advertisement of a product
                      description:
                        en: A localized advertisement of a product.
                      type: TEXT
                      metadata:
                        localized: true
                        required: true
                  metadata:
                    version: 1
        description: ''
      responses:
        '204':
          description: 'No content'
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
        '409':
          $ref: '#/components/responses/Conflict_409'
      operationId: PUT-schema-update-schema
      security:
        - OAuth2:
            - schema.schema_manage
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
  '/schema/{tenant}/schemas/{id}/types':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/version'
      - $ref: '#/components/parameters/trait_mode'
    put:
      summary: Updating types of a schema
      description: |-
        Updates assigned types to the schema. It's allowed to change the assigned types to the newest schema as well as to the previous versions of the schema. This operation does not generate a new version of the schema.

      tags:
        - Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaTypes'
            examples:
              SchemaTypes:
                value:
                  - PRODUCT
                  - ORDER
        description: ''
      responses:
        '204':
          description: 'No content'
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unathorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
      operationId: PUT-schema-update-schema-types
      security:
        - OAuth2:
            - schema.schema_manage
  '/schema/{tenant}/schemas/file':
    parameters:
      - $ref: '#/components/parameters/tenant'
    post:
      tags:
        - Schema
      summary: Providing a file
      description: |
        Validates and parses provided json schema file. When the file is valid, it returns a json which can be used either to create a new schema via POST operation or to update an existing one via PUT operation when all the missing fields are provided. It doesn't create any file and it doesn't crease a database entity.
      operationId: POST-schema-parse-schema-file
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
                  format: json
                  description: Content of the file.
                id:
                  type: string
                  description: Id of the existing schema. Should be null when there is no existing schema.
              required:
                - file
        description: ''
      responses:
        '200':
          description: The request was successful. The file was validated and parsed correctly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaFileResponse'
              examples:
                Schemas:
                  $ref: '#/components/examples/SchemaFileResponse'
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when the request does not contain sufficient scopes for the given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Forbidden:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need to choose the required scope to complete this action.
                    details:
                      - message: 'Required scope(s): schema.schema_manage'
  '/schema/{tenant}/types':
    parameters:
      - $ref: '#/components/parameters/tenant'
    get:
      summary: Retrieving types
      description: |-
        Retrieves types which have at least one schema assigned.
      tags:
        - Type
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TypesResponse'
              examples:
                Types:
                  value:
                    - ORDER
                    - PRODUCT
                    - QUOTE
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: GET-schema-retrieve-schema-types
  '/schema/{tenant}/references':
    parameters:
      - $ref: '#/components/parameters/tenant'
    post:
      tags:
        - Reference
      summary: Creating a reference
      description: |
        Creates a reference entity and uploads provided file to the cloudinary repository.

      operationId: POST-schema-create-reference
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
                  format: json
                  description: Content of the file.
                body:
                  $ref: '#/components/schemas/ReferenceCreation'
              required:
                - file
                - body
            examples:
              Reference:
                value:
                  file:
                    externalValue: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/653a30c0951b2b0665884f89_v1.json'
                  body:
                    name:
                      en: Product Custom Attributes
                    types:
                      - PRODUCT
        description: ''
      responses:
        '201':
          description: The request was successful. The Reference has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              examples:
                Reference created:
                  value:
                    id: e241dc9e-a3f6-4573-bb01-a8ae21d2d4ae
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when the request does not contain sufficient scopes for the given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Forbidden:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need to choose the required scope to complete this action.
                    details:
                      - message: 'Required scope(s): schema.schema_manage'
        '409':
          $ref: '#/components/responses/Conflict_409'
      security:
        - OAuth2:
            - schema.schema_manage
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
    get:
      summary: Retrieving all references
      description: |-
        Retrieves all references. You can filter the results with query parameters.
      tags:
        - Reference
      responses:
        '200':
          description: ''
          headers:
            X-Total-Count:
              description: Total amount of references for given criteria.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferencesResponse'
              examples:
                References:
                  $ref: '#/components/examples/ReferencesResponse'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: GET-schema-retrieve-references
      parameters:
        - $ref: '#/components/parameters/trail_xTotalCount_header'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_q_param'
        - $ref: '#/components/parameters/trait_fields'
        - name: type
          in: query
          description: |
            Filters references by type. Possible types to specify, CART, CART_ITEM, CATEGORY, COMPANY, COUPON, CUSTOMER, CUSTOMER_ADDRESS, ORDER, ORDER_ENTRY, PRODUCT, QUOTE, RETURN, PRICE_LIST, SITE, CUSTOM_ENTITY, VENDOR. When the newer version of a reference is of different type than the previous one and the previous one matches the type specified in this query param, then the previous version is returned.
          schema:
            type: string
  '/schema/{tenant}/references/{id}':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/trait_schemaVersion'
    get:
      summary: Retrieving a reference
      description: |-
        Retrieves a single reference.
      tags:
        - Reference
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferenceResponse'
              examples:
                Reference:
                  $ref: '#/components/examples/ReferenceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
      operationId: GET-schema-retrieve-reference
      parameters:
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
    delete:
      summary: Deleting a reference
      description: |-
        Deletes a single reference. It deletes just a database entry. The cloudinary reference file remains untouched.

      tags:
        - Reference
      responses:
        '204':
          description: 'No content'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: DELETE-schema-remove-reference
      security:
        - OAuth2:
            - schema.schema_manage
    put:
      summary: Updating a reference
      description: |-
        Updates a single reference.

      tags:
        - Reference
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
                  format: json
                  description: Content of the file.
                body:
                  $ref: '#/components/schemas/ReferenceUpdate'
              required:
                - file
                - body
            examples:
              Reference:
                value:
                  file:
                    externalValue: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/653a30c0951b2b0665884f89_v1.json'
                  body:
                    name:
                      en: Product Custom Attributes
                    types:
                      - PRODUCT
                    metadata:
                      version: 1
        description: ''
      responses:
        '204':
          description: 'No content'
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
        '409':
          $ref: '#/components/responses/Conflict_409'
      operationId: PUT-schema-update-reference
      security:
        - OAuth2:
            - schema.schema_manage
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
  '/schema/{tenant}/custom-entities':
    parameters:
      - $ref: '#/components/parameters/tenant'
    post:
      tags:
        - Custom Schema Type
      summary: Creating a custom schema type
      description: |
        Creates a custom type entity that can be later used for creating custom instances.

        **Note**: When a custom entity type is created, a set of custom scopes is created, which allow managing custom instances of that type.

      operationId: POST-schema-create-custom-schema-type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomSchemaTypeCreation'
            example:
              id: CUSTOM_PRODUCT
              name:
                en: Custom Product Type
      responses:
        '201':
          description: The request was successful. Custom schema type has been created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              example:
                id: CUSTOM_PRODUCT
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when the request does not contain sufficient scopes for the given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Forbidden:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need to choose the required scope to complete this action.
                    details:
                      - message: 'Required scope(s): schema.schema_manage'
        '409':
          $ref: '#/components/responses/Conflict_409'
      security:
        - OAuth2:
            - schema.schema_manage
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
    get:
      summary: Retrieving all custom schema types
      description: |-
        Retrieves all custom schema types.
      tags:
        - Custom Schema Type
      responses:
        '200':
          description: ''
          headers:
            X-Total-Count:
              description: Total amount of custom types for given criteria.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSchemaTypesResponse'
              example:
                - id: CUSTOM_PRODUCT
                  name:
                    en: Custom Product Type
                  metadata:
                    createdAt: "2023-08-09T09:21:42.693Z"
                    modifiedAt: "2023-08-09T09:21:42.693Z"
                    version: 1
                - id: DOCUMENT
                  name:
                    en: Documents
                  metadata:
                    createdAt: "2023-08-10T10:15:30.123Z"
                    modifiedAt: "2023-08-19T10:15:30.123Z"
                    version: 2
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: GET-schema-retrieve-custom-schema-types
      parameters:
        - $ref: '#/components/parameters/trail_xTotalCount_header'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_q_param'
        - $ref: '#/components/parameters/trait_fields'
        - $ref: '#/components/parameters/trait_expand_schemas'
  '/schema/{tenant}/custom-entities/{id}':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Unique id of the custom type.
    get:
      summary: Retrieving a custom schema type
      description: |-
        Retrieves a single custom schema type by id.
      tags:
        - Custom Schema Type
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomSchemaTypeResponse'
              examples:
                CustomType:
                  $ref: '#/components/examples/CustomSchemaTypeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
      operationId: GET-schema-retrieve-custom-schema-type
      parameters:
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_expand_schemas'
    delete:
      summary: Deleting a custom schema type
      description: |-
        Deletes a single custom type. This operation will fail if there are schemas or custom instances assigned to this custom type.

        **Note**: Removing a custom entity type does not remove the custom scopes that were created when the type was added. Those scopes remain in the system until you remove them manually, if needed.

      tags:
        - Custom Schema Type
      responses:
        '204':
          description: 'Custom schema type was succefully removed'
        '400':
          description: Bad request. This may happen when there are schemas or custom instances associated with this custom type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SchemasAssigned:
                  value:
                    code: 400
                    status: Bad Request
                    message: Cannot delete custom schema type='CUSTOM_DOCUMENT' because there are custom entities associated with this type.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: DELETE-schema-remove-custom-schema-type
      security:
        - OAuth2:
            - schema.schema_manage
    put:
      summary: Upserting a custom schema type
      description: |-
        Performs the `UPSERT` operation. If a custom schema type with specified ID exists in the system, then it is updated. If it doesn't exist, a new type is created.

        **Note**: When a custom entity type is created, a set of custom scopes is created, which allow managing custom instances of that type.

      tags:
        - Custom Schema Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomSchemaTypeUpdate'
            example:
              name:
                en: Updated Custom Type
              metadata:
                version: 1
        description: ''
      responses:
        '201':
          description: Custom schema type was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              example:
                id: CUSTOM_PRODUCT
        '204':
          description: 'Custom schema type was successfully updated.'
        '400':
          $ref: '#/components/responses/Bad_request_400_cl'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '409':
          description: Version validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 409
                status: Conflict
                message: 'Cannot find the entity with an id: CUSTOM_ORDER and version: 2. It is possible to update an entity with the latest version only. Fetch the entity to get the latest version.'
      operationId: PUT-schema-upsert-custom-schema-type
      security:
        - OAuth2:
            - schema.schema_manage
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'

  '/schema/{tenant}/custom-entities/{type}/instances':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/type'
    post:
      tags:
        - Custom Instance
      summary: Creating a custom instance
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
        - $ref: '#/components/parameters/trait_validateReferences'
      description: |
        Creates a custom instance entity associated with given custom schema type.

      operationId: POST-schema-create-custom-instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomInstanceCreation'
            examples:
              Basic custom instance:
                value:
                  id: '123'
                  name:
                    en: Report
                  mixins:
                    productCustomAttributes:
                      inStock: true
                      popularity: 1
                  metadata:
                    mixins:
                      productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
              Custom instance with reference:
                value:
                  name:
                    en: Report
                  mixins:
                    order_reference:
                      order:
                        emporixReferenceType: ORDER
                        id: EON1007
                  metadata:
                    mixins:
                      order_reference: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/order_reference_v1.json'
              Custom instance with customer owner:
                value:
                  id: '124'
                  name:
                    en: Report
                  owner:
                    type: CUSTOMER
                    userId: '71742661'
                    legalEntityId: '6848b31e779f645dc9fe42f7'
              Custom instance with employee owner:
                value:
                  id: '125'
                  name:
                    en: Report
                  owner:
                    type: EMPLOYEE
                    userId: '4f2c1a0e-2d1d-4c8b-a5fa-9a8b71234abc'
      responses:
        '201':
          description: Custom instance was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'
              example:
                id: '123'
        '400':
          $ref: '#/components/responses/Bad_request_400_mixins'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when the request does not contain sufficient scopes for the given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Forbidden:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need to choose the required scope to complete this action.
                    details:
                      - message: 'Required scope(s): schema.custominstance_manage'
        '409':
          $ref: '#/components/responses/Conflict_409'
      security:
        - OAuth2:
            - schema.custominstance_manage
            - 'custom.{lowerCaseType}_manage'
            - 'custom.{lowerCaseType}_manage_own'
    get:
      summary: Retrieving all custom instances
      description: |-
        Retrieves all custom instances associated with a specific custom schema type.

      tags:
        - Custom Instance
      responses:
        '200':
          description: ''
          headers:
            X-Total-Count:
              description: Total amount of custom instances for given criteria.
              schema:
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomInstancesResponse'
              examples:
                Basic response:
                  value:
                    - id: '123'
                      name:
                        en: Report
                      type: CUSTOM_DOCUMENT
                      owner:
                        type: EMPLOYEE
                        userId: 00u4ukqvzlEP31sCk417
                      mixins:
                        productCustomAttributes:
                          inStock: true
                          populatirty: 1
                      media:
                        - media_id_1
                        - media_id_2
                      metadata:
                        mixins:
                          productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                        createdAt: '2025-04-17T13:00:00.000Z'
                        modifiedAt: '2025-05-14T13:00:00.000Z'
                        version: 3
                    - id: '456'
                      name:
                        en: Manual
                      type: CUSTOM_DOCUMENT
                      owner:
                        type: CUSTOMER
                        userId: '79474954'
                        legalEntityId: 0149b1314144a01491314z128
                      media:
                        - media_id_3
                      metadata:
                        createdAt: '2025-04-17T13:00:00.000Z'
                        modifiedAt: '2025-04-17T13:00:00.000Z'
                        version: 1
                Response with expanded references:
                  value:
                    - id: '68fe97bb616cd70336cde7ee'
                      name:
                        en: Report
                      type: CUSTOM_DOCUMENT
                      owner:
                        type: SERVICE
                        userId: RFPZOxRGUWeWGXMBymGhpIXdBVsXUt6QxTOPukecuSt1h8F3
                      mixins:
                        customAttributes:
                          references:
                            product_reference:
                              emporixReferenceType: PRODUCT
                              id: '68fe97af4e412504678a4fd7'
                              yrn: 'urn:yaas:saasag:caasproduct:product:tenant;68fe97af4e412504678a4fd7'
                              code: hammer1
                              name:
                                en: Hammer
                              productType: BASIC
                              published: true
                              metadata:
                                version: 1
                                createdAt: '2025-10-26T21:50:39.097Z'
                                modifiedAt: '2025-10-26T21:50:39.097Z'
                              expandStatus: SUCCESS
                            customers_array:
                              - emporixReferenceType: CUSTOMER
                                id: '79474954'
                                title: MR
                                firstName: John
                                lastName: Doe
                                preferredCurrency: EUR
                                type: CUSTOMER
                                metadata:
                                  version: 0
                                customerNumber: '79474954'
                                contactEmail: john.doe@email.com
                                active: true
                                onHold: false
                                metadataCreatedAt: '2025-10-26T21:49:41.440Z'
                                businessModel: B2C
                                expandStatus: SUCCESS
                              - emporixReferenceType: CUSTOMER
                                id: '16229890'
                                expandStatus: FAILURE
                                error:
                                  message: Entity not found
                                  details:
                                    - "Entity with id: '16229890' was not found for type: 'CUSTOMER'"
                      media:
                        - media_id_1
                        - media_id_2
                      metadata:
                        version: 2
                        createdAt: '2025-10-26T21:50:51.702Z'
                        modifiedAt: '2025-10-26T21:51:16.434Z'
                        mixins:
                          customAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/customAttributes_v2.json'
        '400':
          $ref: '#/components/responses/Bad_request_400'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: GET-schema-retrieve-custom-instances
      security:
        - OAuth2:
            - schema.custominstance_read
            - 'custom.{lowerCaseType}_read'
            - 'custom.{lowerCaseType}_read_own'
      parameters:
        - $ref: '#/components/parameters/trail_xTotalCount_header'
        - $ref: '#/components/parameters/trait_paged_pageNumber'
        - $ref: '#/components/parameters/trait_paged_pageSize'
        - $ref: '#/components/parameters/trait_sort'
        - $ref: '#/components/parameters/trait_q_param'
        - $ref: '#/components/parameters/trait_fields'
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_expand_references'

  '/schema/{tenant}/custom-entities/{type}/instances/{id}':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/type'
      - $ref: '#/components/parameters/id'
    get:
      summary: Retrieving a custom instance
      parameters:
        - $ref: '#/components/parameters/trait_acceptLanguage_header'
        - $ref: '#/components/parameters/trait_expand_references'
      description: |-
        Retrieves a single custom instance by id.

      tags:
        - Custom Instance
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomInstanceResponse'
              examples:
                Basic response:
                  value:
                    id: "123"
                    name:
                      en: Report
                    type: CUSTOM_DOCUMENT
                    owner:
                      type: EMPLOYEE
                      userId: 00u4ukqvzlEP31sCk417
                    mixins:
                      productCustomAttributes:
                        inStock: true
                        populatirty: 1
                    media:
                      - media_id_1
                      - media_id_2
                    metadata:
                      mixins:
                        productCustomAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                      createdAt: '2025-04-17T13:00:00.000Z'
                      modifiedAt: '2025-05-14T13:00:00.000Z'
                      version: 3
                Response with expanded references:
                  value:
                    id: '68fe97bb616cd70336cde7ee'
                    name:
                      en: Report
                    type: CUSTOM_DOCUMENT
                    owner:
                      type: CUSTOMER
                      userId: '79474954'
                      legalEntityId: 0149b1314144a01491314z128
                    mixins:
                      customAttributes:
                        references:
                          product_reference:
                            emporixReferenceType: PRODUCT
                            id: '68fe97af4e412504678a4fd7'
                            yrn: 'urn:yaas:saasag:caasproduct:product:tenant;68fe97af4e412504678a4fd7'
                            code: hammer1
                            name:
                              en: Hammer
                            productType: BASIC
                            published: true
                            metadata:
                              version: 1
                              createdAt: '2025-10-26T21:50:39.097Z'
                              modifiedAt: '2025-10-26T21:50:39.097Z'
                            expandStatus: SUCCESS
                          customers_array:
                            - emporixReferenceType: CUSTOMER
                              id: '79474954'
                              title: MR
                              firstName: John
                              lastName: Doe
                              preferredCurrency: EUR
                              type: CUSTOMER
                              metadata:
                                version: 0
                              customerNumber: '79474954'
                              contactEmail: john.doe@email.com
                              active: true
                              onHold: false
                              metadataCreatedAt: '2025-10-26T21:49:41.440Z'
                              businessModel: B2C
                              expandStatus: SUCCESS
                            - emporixReferenceType: CUSTOMER
                              id: '16229890'
                              expandStatus: FAILURE
                              error:
                                message: Entity not found
                                details:
                                  - "Entity with id: '16229890' was not found for type: 'CUSTOMER'"
                    media:
                      - media_id_1
                      - media_id_2
                    metadata:
                      version: 2
                      createdAt: '2025-10-26T21:50:51.702Z'
                      modifiedAt: '2025-10-26T21:51:16.434Z'
                      mixins:
                        customAttributes: 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/customAttributes_v2.json'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/Not_Found_404'
      operationId: GET-schema-retrieve-custom-instance
      security:
        - OAuth2:
            - schema.custominstance_read
            - 'custom.{lowerCaseType}_read'
            - 'custom.{lowerCaseType}_read_own'
    delete:
      summary: Deleting a custom instance
      description: |-
        Deletes a custom instance.

      tags:
        - Custom Instance
      responses:
        '204':
          description: 'No content'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
      operationId: DELETE-schema-remove-custom-instance
      security:
        - OAuth2:
            - schema.custominstance_manage
            - 'custom.{lowerCaseType}_manage'
            - 'custom.{lowerCaseType}_manage_own'
    put:
      summary: Upserting a custom instance
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'
        - $ref: '#/components/parameters/trait_validateReferences'
      description: |-
        Performs the `UPSERT` operation. If a custom instance with specified ID exists in the system, then it is updated. If it doesn't exist, a new custom instance is created.

      tags:
        - Custom Instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomInstanceUpdate'
            example:
              name: {
                "en": "Report"
              }
              mixins: {
                productCustomAttributes: {
                  inStock: false,
                  popularity: 2
                }
              }
              metadata: {
                mixins: {
                  "productCustomAttributes": 'https://res.cloudinary.com/saas-ag/raw/upload/emporix-docs/productCustomAttributesMixIn-v38.json'
                },
                version: 1
              }
        description: ''
      responses:
        '201':
          description: Custom instance was successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdResponse'

  '/schema/{tenant}/custom-entities/{type}/instances/bulk':
    parameters:
      - $ref: '#/components/parameters/tenant'
      - $ref: '#/components/parameters/type'
    post:
      tags:
        - Custom Instance
      summary: Bulk creating custom instances
      description: |
        Creates multiple custom instance entities associated with the given custom schema type in a single request.

        The maximum number of items allowed in the bulk request is 5000.

      operationId: POST-schema-create-custom-instances-bulk
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CustomInstanceCreation'
            examples:
              BulkCreateExample:
                value:
                  - id: '123'
                    name:
                      en: Report 1
                    mixins:
                      productCustomAttributes:
                        inStock: true
                        popularity: 1
                  - id: '124'
                    name:
                      en: Report 2
                    mixins:
                      productCustomAttributes:
                        inStock: false
                        popularity: 2
        description: ''
      responses:
        '201':
          description: Custom instances were successfully created.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IdResponse'
              examples:
                BulkCreateResponse:
                  value:
                    - id: '123'
                    - id: '124'
        '400':
          description: Bad request. This may happen when the payload exceeds the maximum allowed size of 5000 items or contains invalid data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SizeExceeded:
                  value:
                    code: 400
                    status: Bad Request
                    message: Maximum size of the payload array is 5000.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          description: Permission denied due to insufficient rights. This may happen when the request does not contain sufficient scopes for the given query values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Forbidden:
                  value:
                    code: 403
                    status: Forbidden
                    message: You need to choose the required scope to complete this action.
                    details:
                      - message: 'Required scope(s): schema.custominstance_manage'
        '409':
          $ref: '#/components/responses/Conflict_409'
      security:
        - OAuth2:
            - schema.custominstance_manage
            - 'custom.{lowerCaseType}_manage'
            - 'custom.{lowerCaseType}_manage_own'
      parameters:
        - $ref: '#/components/parameters/trait_contentLanguage_header'