openapi: 3.0.0
info:
  title: Import Service
  version: ''
  description: |-
    The Emporix Import Service imports external master data into Emporix. A configuration groups one or more
    streams; each stream extracts from a source connection, maps fields to an Emporix target type, and
    upserts idempotently. Imports run asynchronously and stream per-stream progress over Server-Sent Events.

    The reference is in two halves, split by the scope each needs.

    **Operating an import** requires `importtool.import_trigger`: triggering, scheduling, monitoring and
    cancelling runs, reading configurations, streams, schedules, runs and imported data, and reading the
    analytics that summarise them.

    **Configuring one** requires `importtool.import_manage`, and is grouped under the sections marked
    Administration: defining connections, and defining the field mappings that decide what each source
    field becomes on the target. `importtool.import_manage` does not imply `importtool.import_trigger` —
    a client that both configures and runs imports needs both.
  contact:
    name: Emporix
    url: https://emporix.com
    email: documentation@emporix.com
tags:
  - name: Configurations
    description: Read import configurations.
  - name: Streams
    description: Read the streams of a configuration.
  - name: Schedules
    description: Read and set a configuration's run schedule.
  - name: Runs
    description: Trigger, monitor, and cancel import runs.
  - name: Data
    description: Read imported records.
  - name: Analytics
    description: Read aggregated import statistics, health, and the settings behind them.
  - name: License
    description: Read the tenant's import limits.
  - name: Configurations (Administration)
    description: |
      Change import configurations. **Scope:** these operations require `importtool.import_manage`, unlike
      the read operations above.
  - name: Connections (Administration)
    description: |
      Define where data is read from and how to authenticate against it. **Scope:**
      `importtool.import_manage`.
  - name: Purge (Administration)
    description: |
      Forget what an import loaded, and optionally delete what it wrote. **Scope:**
      `importtool.import_manage`. These operations are irreversible — read the warnings on each before
      using them.
  - name: Mappings (Administration)
    description: |
      Define what each source field becomes on the Emporix target, and check it against real data before
      running an import. **Scope:** `importtool.import_manage`.
servers:
  - url: 'https://api.emporix.io'
paths:
  '/importtool/{tenant}/configs':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving all import configurations
      description: |-
        Retrieves all import configurations defined for the tenant.

      operationId: GET-importtool-list-configs
      tags:
        - Configurations
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The configurations are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImportConfig'
              examples:
                Configurations response:
                  $ref: '#/components/examples/ImportConfigs_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    post:
      summary: Creating an import configuration
      description: |-
        Creates an import configuration — the job that groups the streams executed together, in dependency order, under one run.

      operationId: POST-importtool-create-config
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportConfig'
      responses:
        '200':
          description: The request was successful. The configuration was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportConfig'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/configs/{id}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    get:
      summary: Retrieving an import configuration
      description: |-
        Retrieves a single import configuration by its identifier.

      operationId: GET-importtool-get-config
      tags:
        - Configurations
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The configuration is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportConfig'
              examples:
                Configuration response:
                  $ref: '#/components/examples/ImportConfig_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    put:
      summary: Updating an import configuration
      description: |-
        Updates an import configuration. The streams it contains are edited through their own endpoints.

      operationId: PUT-importtool-update-config
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportConfig'
      responses:
        '200':
          description: The request was successful. The configuration was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportConfig'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    delete:
      summary: Deleting an import configuration
      description: |-
        Deletes an import configuration together with its streams, mappings and schedule. The data already imported into the target is not removed; use the purge endpoints for that.

      operationId: DELETE-importtool-delete-config
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '204':
          description: The request was successful. The resource was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '409':
          $ref: '#/components/responses/Conflict_409'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/configs/{configId}/streams':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_configId'
    get:
      summary: Retrieving all streams of a configuration
      description: |-
        Retrieves the streams belonging to a configuration, ordered by sequence.

      operationId: GET-importtool-list-streams
      tags:
        - Streams
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The streams are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImportStream'
              examples:
                Streams response:
                  $ref: '#/components/examples/ImportStreams_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    post:
      summary: Creating a stream
      description: |-
        Creates a stream within an import configuration. A stream names one source dataset, the target it writes to, and how the two are related.

        A composite child names its parent by NAME, so the parent must already exist.

      operationId: POST-importtool-create-stream
      tags:
        - Streams
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportStream'
      responses:
        '200':
          description: The request was successful. The stream was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStream'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/streams/{id}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    get:
      summary: Retrieving a stream
      description: |-
        Retrieves a single stream by its identifier, including its resolved target types.

      operationId: GET-importtool-get-stream
      tags:
        - Streams
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The stream is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStream'
              examples:
                Stream response:
                  $ref: '#/components/examples/ImportStream_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    put:
      summary: Updating a stream
      description: |-
        Updates a stream. Identity fields — the source key columns — may only be changed while the stream has imported nothing, because changing them re-keys every record it has already written.

      operationId: PUT-importtool-update-stream
      tags:
        - Streams
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportStream'
      responses:
        '200':
          description: The request was successful. The stream was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStream'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '409':
          $ref: '#/components/responses/Conflict_409'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    delete:
      summary: Deleting a stream
      description: |-
        Deletes a stream and its mappings. Records it has already imported are left in the target.

      operationId: DELETE-importtool-delete-stream
      tags:
        - Streams
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '204':
          description: The request was successful. The resource was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/configs/{configId}/schedule':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_configId'
    get:
      summary: Retrieving a schedule
      description: |-
        Retrieves the cron schedule for a configuration.

      operationId: GET-importtool-get-schedule
      tags:
        - Schedules
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The schedule is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              examples:
                Schedule response:
                  $ref: '#/components/examples/Schedule_Example'
        '204':
          description: No schedule is configured for the configuration.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    put:
      summary: Scheduling an import job
      description: |-
        Creates or updates the cron schedule (cron expression, time zone, and enabled flag) that runs a configuration automatically.

      operationId: PUT-importtool-schedule-job
      tags:
        - Schedules
      security:
        - OAuth2:
            - importtool.import_trigger
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
            examples:
              Every day at 02:00 Berlin time:
                value:
                  cron: '0 0 2 * * *'
                  timezone: Europe/Berlin
                  enabled: true
      responses:
        '200':
          description: The request was successful. The schedule has been saved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
              examples:
                Schedule response:
                  $ref: '#/components/examples/Schedule_Example'
        '400':
          description: >-
            The `cron` expression or `timezone` value is invalid. The service expects a six-field cron
            expression (`second minute hour day-of-month month day-of-week`). A five-field expression
            such as `0 * * * *` is rejected. The service does not store it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    delete:
      summary: Removing a schedule
      description: |-
        Removes the schedule. The configuration then runs only when it is triggered.

        The request is idempotent. Removing a schedule that does not exist also returns `204`.
        Unlike creating a schedule, this request does not require the configuration to exist.
        Use it to remove a schedule that remains after the configuration is deleted.
      operationId: deleteSchedule
      tags:
        - Schedules
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '204':
          description: The schedule has been removed. The configuration now runs only when triggered.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/configs/{configId}/stream-order':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_configId'
    get:
      summary: Retrieving the stream run order
      description: |-
        Retrieves the order in which the configuration's streams run, and the dependencies behind that order.

        Dependencies between streams decide the order. Sequence breaks ties.

        Dependencies come from four sources:

        * an explicit dependency on another stream
        * a mapping that references a type another stream produces
        * a `COMPOSITE_CHILD` stream with `childStrategy` set to `EMBED` – runs before the parent that embeds it
        * a `COMPOSITE_CHILD` stream with `childStrategy` set to `PATCH`, or a `COMPOSITE_MERGE` stream – run after the parent they update

        Use this endpoint rather than calculating the order yourself. Mapping transformations add
        dependencies that a single stream definition does not show. An order calculated without those
        dependencies can differ from the order used at run time.
      operationId: GET-importtool-stream-order
      tags:
        - Streams
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The stream order is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    type: array
                    items:
                      type: string
                    description: Stream names in the order they run.
                  prereqs:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    description: >-
                      For each stream name, the streams that must run before it. A stream with no
                      dependencies has an empty list.
              examples:
                Stream order:
                  value:
                    order:
                      - vendor
                      - purchaseOrder
                      - purchaseOrderLine
                    prereqs:
                      vendor: []
                      purchaseOrder:
                        - vendor
                      purchaseOrderLine:
                        - purchaseOrder
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/configs/{configId}/runs':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_configId'
    post:
      summary: Triggering an import run
      description: |-
        Starts an import run for the configuration and returns immediately with the run in a running state;
        progress is streamed over Server-Sent Events. At most one run is active per configuration.

        A run executes each stream's published mappings. Saved mapping changes that are not published yet are
        the draft mappings, and they take effect only after they are published. Publishing mappings is an
        administrative operation that requires the `importtool.import_manage` scope and is not covered in this
        reference. A real run, or a dry run that uses the published mappings, fixes the published mapping version of
        each stream when it starts, so a version published during the run applies from the next run. The run
        reports these versions in `mappingVersions`. A dry run of the draft mappings does not use published
        versions and does not report `mappingVersions`.

        A stream whose mappings have never been published is not run. Its entry in the run details (`streams` in
        the response of retrieving a run) has the `ABORTED` status and a `message` that gives the reason, and the
        run finishes with the `PARTIAL` status. The service refuses the whole run when `streamIds` names a stream
        whose mappings have never been published, or when every enabled stream is in that state.

        The refusal does not change the response to this request: the service still returns `200` with the run,
        and the run then finishes with the `ABORTED` status and a `message` that names the streams. Retrieve the
        run to check its final status.
      operationId: POST-importtool-trigger-run
      tags:
        - Runs
      security:
        - OAuth2:
            - importtool.import_trigger
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum:
                    - FULL
                    - DELTA
                  description: The run mode. When omitted, defaults to `DELTA`.
                  example: DELTA
                dryRun:
                  type: boolean
                  description: When `true`, the run maps and validates but performs no remote writes.
                  example: false
                mappings:
                  type: string
                  enum:
                    - published
                    - draft
                  default: published
                  description: >-
                    Dry-run only. Which mappings the dry run uses. `published` uses each stream's published
                    mappings, which is what a real run executes. `draft` uses the draft mappings, so you can check
                    them before publishing. When omitted, defaults to `published`. A dry run with `published`
                    handles streams whose mappings have never been published in the same way as a real run. The field
                    has no effect when `dryRun` is `false`, because a real run always uses the published mappings.
                  example: published
                force:
                  type: boolean
                  description: >-
                    When `true`, every extracted record is rewritten, even if unchanged. It bypasses the idempotency `skip-if-unchanged` check. Use it to force target IDs and values to be rewritten.
                  example: false
                sampleSize:
                  type: integer
                  minimum: 1
                  maximum: 100
                  description: >-
                    Dry-run only. How many mapped records to sample per stream for the preview returned as
                    `dryRunSample`. Clamped to 1-100; defaults to 25.
                  example: 25
                origin:
                  type: string
                  maxLength: 40
                  description: >-
                    What requested this run. Examples: `Dashboard`, an integration scenario name, or a scheduler name.
                    The `trigger` field records only `MANUAL` or `SCHEDULED`. Use `origin` when more than one system
                    calls this endpoint. If you omit `origin` or send a blank value, the service stores the `trigger`
                    value. The service rejects values longer than 40 characters and values that contain control
                    characters. It does not shorten them.
                  example: Make scenario 42
                streamIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: >-
                    The stream identifiers to run. Omit the field to run every stream in the configuration.
                    Send a list of stream IDs to run only those streams. Do not send stream names; use the
                    `id` values from the stream resource.

                    The service rejects an empty list. It also rejects a list that includes no stream from
                    this configuration. Listed streams still run in the computed stream order, not in list
                    order.

                    The service also rejects a stream that cannot produce data on its own. A `COMPOSITE_CHILD`
                    stream with `childStrategy` set to `EMBED` is written by its parent. A child that reads
                    values captured during the parent run also cannot run alone. Either stream without its
                    parent would complete successfully without importing records.
                  example:
                    - 8f1b6a5c-2d7e-4a91-9c33-0b5e4d2a7f10
            examples:
              Full run:
                value:
                  mode: FULL
                  origin: Dashboard
              Delta dry run:
                value:
                  mode: DELTA
                  dryRun: true
              Dry run of unpublished mapping changes:
                value:
                  mode: FULL
                  dryRun: true
                  mappings: draft
              Run only two streams:
                value:
                  mode: DELTA
                  streamIds:
                    - 8f1b6a5c-2d7e-4a91-9c33-0b5e4d2a7f10
                    - 1c9d3e77-45ab-4f02-8e6d-77a1b0c9e254
      responses:
        '200':
          description: The request was successful. The run has been started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportRun'
              examples:
                Run response:
                  $ref: '#/components/examples/ImportRun_Example'
        '400':
          description: >-
            The request is invalid. For example, `dryRun` is `true` and `mappings` has a value other than
            `published` or `draft`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: When the error occurred.
                  status:
                    type: integer
                    description: HTTP status code.
                  error:
                    type: string
                    description: HTTP status reason phrase.
                  path:
                    type: string
                    description: The request path.
              examples:
                Invalid mappings value:
                  value:
                    timestamp: '2026-09-28T09:15:02.118+00:00'
                    status: 400
                    error: Bad Request
                    path: /importtool/mytenant/configs/7c9e6679-7425-40de-944b-e07fc1f90ae7/runs
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '409':
          $ref: '#/components/responses/Conflict_409'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    get:
      summary: Retrieving run history
      description: |-
        Retrieves the run history for a configuration, most recent first.

      operationId: GET-importtool-list-runs
      tags:
        - Runs
      parameters:
        - $ref: '#/components/parameters/trait_page'
        - $ref: '#/components/parameters/trait_size'
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The run history is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportRunPage'
              examples:
                Run history response:
                  $ref: '#/components/examples/ImportRunPage_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    get:
      summary: Retrieving a run
      description: |-
        Retrieves a run's status together with its per-stream progress.

      operationId: GET-importtool-get-run
      tags:
        - Runs
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The run and its streams are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunDetail'
              examples:
                Run detail response:
                  $ref: '#/components/examples/RunDetail_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}/events':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    get:
      summary: Streaming run progress
      description: |-
        Streams a run's progress as Server-Sent Events: an initial `snapshot` (run and streams), then a
        `stream` event per processed batch, and a final `run` event when the run finishes.
      operationId: GET-importtool-stream-run-events
      tags:
        - Runs
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The event stream was opened.
          content:
            text/event-stream:
              schema:
                type: string
                example: |-
                  event: snapshot
                  data: {"run":{"id":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d","status":"RUNNING"},"streams":[{"streamName":"Products","status":"RUNNING","recordsRead":120}]}

                  event: stream
                  data: {"streamName":"Products","status":"RUNNING","recordsRead":240,"created":20,"updated":210,"failed":2}

                  event: run
                  data: {"id":"9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d","status":"SUCCEEDED","recordsRead":1250}
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}/cancel':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    post:
      summary: Cancelling a run
      description: |-
        Requests cancellation of an active run. By default the cancellation is cooperative; with
        `force=true` the run is stopped immediately and its configuration is unblocked.
      operationId: POST-importtool-cancel-run
      tags:
        - Runs
      parameters:
        - name: force
          in: query
          required: false
          description: When `true`, hard-stops the run immediately.
          schema:
            type: boolean
            default: false
            example: false
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '202':
          description: The cancellation was accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelResult'
              examples:
                Cancellation response:
                  $ref: '#/components/examples/CancelResult_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '409':
          $ref: '#/components/responses/Conflict_409'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}/errors':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    get:
      summary: Retrieving run errors
      description: |-
        Retrieves the errors recorded during a run, paginated.

      operationId: GET-importtool-list-run-errors
      tags:
        - Runs
      parameters:
        - $ref: '#/components/parameters/trait_page'
        - $ref: '#/components/parameters/trait_size'
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The errors are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRecordPage'
              examples:
                Errors response:
                  $ref: '#/components/examples/ErrorRecordPage_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}/diagnostics':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    get:
      summary: Retrieving run diagnostics
      description: |-
        Retrieves the source rows represented by a run's feed-quality counters.

        A run reports how many source rows repeated a natural key (`duplicateKeys`) and how many child
        lines had no parent to attach to (`unresolvedParents`). This endpoint identifies the affected rows
        and returns each record's key, its parent-linking field and value, and the number of lines waiting
        for each missing parent.

        Neither counter is a failure, so these rows are kept separately from run errors.

        The rows are a capped SAMPLE, not necessarily the whole set — `recorded` gives how many were
        stored and `sampleTruncated` says whether a stream hit the cap. The run's own counters show the
        total number of affected rows; do not use the returned row count to measure the size of the problem.

      operationId: GET-importtool-list-run-diagnostics
      tags:
        - Runs
      parameters:
        - $ref: '#/components/parameters/trait_diagnosticsStreamId'
        - $ref: '#/components/parameters/trait_diagnosticsKind'
        - name: limit
          in: query
          required: false
          description: Maximum number of rows to return. Defaults differ between the JSON and CSV operations.
          schema:
            type: integer
            default: 500
            minimum: 1
            maximum: 50000
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The diagnostic rows are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticPage'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}/diagnostics/csv':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    get:
      summary: Downloading run diagnostics as CSV
      description: |-
        Returns the same rows as a CSV attachment, for opening in a spreadsheet or attaching to a ticket.

        Comment lines above the header indicate whether the `limit` parameter restricted the response or
        a stream reached the recording cap. These comments preserve that context when the file is shared
        independently of the request.

        Values are quoted. Any value beginning with `=`, `+`, `-`, or `@` is prefixed with an apostrophe
        so that spreadsheet software does not interpret source-provided data as a formula.

      operationId: GET-importtool-download-run-diagnostics-csv
      tags:
        - Runs
      parameters:
        - $ref: '#/components/parameters/trait_diagnosticsStreamId'
        - $ref: '#/components/parameters/trait_diagnosticsKind'
        - name: limit
          in: query
          required: false
          description: Maximum number of rows to include. Defaults differ between the JSON and CSV operations.
          schema:
            type: integer
            default: 50000
            minimum: 1
            maximum: 50000
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The CSV file is returned.
          headers:
            Content-Disposition:
              description: Attachment disposition and the suggested file name.
              schema:
                type: string
                example: attachment; filename="diagnostics-tenant-2026-09-23.csv"
          content:
            text/csv:
              schema:
                type: string
              example: |-
                # capped sample: 2000 rows recorded (cap 2000 per stream) - the run's counters show the total number of affected rows
                stream,kind,key,linkingField,linkingValue,targetType,waitingLines,occurrence
                poLine,UNRESOLVED_PARENT,ID:PO-4711,HEADER_ID,PO-4711,PURCHASE_ORDER,7,
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/data/types':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving imported data types
      description: |-
        Retrieves the distinct target types that currently hold imported records.

      operationId: GET-importtool-list-data-types
      tags:
        - Data
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The types are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: product
              examples:
                Data types response:
                  $ref: '#/components/examples/DataTypes_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/data/records':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Searching imported records
      description: |-
        Searches imported records of a given type with an optional `search` filter on the natural key, paginated.

      operationId: GET-importtool-search-data-records
      tags:
        - Data
      parameters:
        - name: type
          in: query
          required: true
          description: The target type to search.
          schema:
            type: string
            example: product
        - name: search
          in: query
          required: false
          description: >-
            Optional free-text filter. This is a case-insensitive substring match on the record's
            natural key only — it is NOT the Emporix query language, so field selectors and operators
            (e.g. `field:value`, comparisons, boolean logic) are not supported.
          schema:
            type: string
            default: ''
            example: SKU-1001
        - name: outcome
          in: query
          required: false
          description: >-
            Optional filter by import outcome. Omit to return records of all outcomes. `UPSERTED`
            (created or updated), `DELETED` (removed at the source), `DELETED_TARGET` (removed in
            Emporix), `FAILED`, `DRY_RUN` (produced by a dry run).
          schema:
            type: string
            enum: [UPSERTED, DELETED, DELETED_TARGET, FAILED, DRY_RUN]
        - $ref: '#/components/parameters/trait_page'
        - $ref: '#/components/parameters/trait_size'
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The records are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedRecordPage'
              examples:
                Imported records response:
                  $ref: '#/components/examples/ImportedRecordPage_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/data/streams/{streamId}/records':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
    get:
      summary: Searching a stream's imported records
      description: |-
        Searches the imported records produced by a specific stream with an optional `search` filter on the natural key, paginated.

      operationId: GET-importtool-search-stream-records
      tags:
        - Data
      parameters:
        - name: search
          in: query
          required: false
          description: >-
            Optional free-text filter. This is a case-insensitive substring match on the record's
            natural key only — it is NOT the Emporix query language, so field selectors and operators
            (e.g. `field:value`, comparisons, boolean logic) are not supported.
          schema:
            type: string
            default: ''
            example: SKU-1001
        - name: outcome
          in: query
          required: false
          description: >-
            Optional filter by import outcome. Omit to return records of all outcomes. `UPSERTED`
            (created or updated), `DELETED` (removed at the source), `DELETED_TARGET` (removed in
            Emporix), `FAILED`, `DRY_RUN` (produced by a dry run).
          schema:
            type: string
            enum: [UPSERTED, DELETED, DELETED_TARGET, FAILED, DRY_RUN]
        - $ref: '#/components/parameters/trait_page'
        - $ref: '#/components/parameters/trait_size'
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The records are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportedRecordPage'
              examples:
                Stream records response:
                  $ref: '#/components/examples/ImportedRecordPage_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/stats':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving import statistics
      description: |-
        Retrieves aggregated import metrics for a time window: headline counters and rates, a time series
        bucketed by day, week, or month, per-stream health, the top failing streams, an error breakdown,
        and how many streams were added or removed.

        To narrow the scope, use:
        - `configId` for one configuration
        - `configIds` for several configurations
        - `streamId` for one stream
        
        When none of them are given, the whole tenant is summarised. Use `sections` to fetch only the parts
        you need — an unrequested section is returned as `null`.
      operationId: GET-importtool-stats
      tags:
        - Analytics
      parameters:
        - name: configId
          in: query
          required: false
          description: Restricts the statistics to a single configuration.
          schema:
            type: string
            format: uuid
            example: 7c9e6679-7425-40de-944b-e07fc1f90ae7
        - name: configIds
          in: query
          required: false
          description: >-
            Restricts the statistics to several configurations, as a comma-separated list of identifiers.
            Ignored when `configId` is given.
          schema:
            type: string
            example: '7c9e6679-7425-40de-944b-e07fc1f90ae7,550e8400-e29b-41d4-a716-446655440000'
        - name: streamId
          in: query
          required: false
          description: Restricts the statistics to a single stream. Takes precedence over the configuration filters.
          schema:
            type: string
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
        - name: from
          in: query
          required: false
          description: The start of the window, as an ISO-8601 instant. When omitted, defaults to 30 days ago.
          schema:
            type: string
            format: date-time
            example: '2024-05-01T00:00:00Z'
        - name: to
          in: query
          required: false
          description: The end of the window, as an ISO-8601 instant. Exclusive. When omitted, defaults to now.
          schema:
            type: string
            format: date-time
            example: '2024-05-31T00:00:00Z'
        - name: granularity
          in: query
          required: false
          description: The bucket size of the returned time series.
          schema:
            type: string
            enum:
              - DAY
              - WEEK
              - MONTH
            default: DAY
            example: DAY
        - name: sections
          in: query
          required: false
          description: >-
            A comma-separated list of the sections to compute: `TOTALS`, `STREAMS`, `ERRORS`, `CHANGES`.
            When omitted, defaults to all sections. A section not requested through the `sections` parameter
            is returned as `null`.
          schema:
            type: string
            example: 'TOTALS,ERRORS'
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The statistics are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportStats'
              examples:
                Import statistics response:
                  $ref: '#/components/examples/ImportStats_Example'
        '400':
          description: The window or a filter value is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/dashboard/job-groups':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving job groups
      description: |-
        Retrieves the tenant's job groups. A job group is a named set of import configurations, used to
        scope the analytics to the imports that matter to you. Groups are stored per tenant and shared by
        everyone working on it.

        Creating, changing, and deleting groups requires the `importtool.import_manage` scope.
      operationId: GET-importtool-list-job-groups
      tags:
        - Analytics
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The job groups are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobGroup'
              examples:
                Job groups response:
                  $ref: '#/components/examples/JobGroups_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    post:
      summary: Creating a job group
      description: |-
        Creates a job group — a label used to arrange import configurations on the dashboard. It has no effect on execution.

      operationId: POST-importtool-create-job-group
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobGroup'
      responses:
        '200':
          description: The request was successful. The job group was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGroup'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/settings/health-thresholds':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving the tenant's health thresholds
      description: |-
        Retrieves the tenant-wide thresholds that decide whether a stream is reported as `GREEN`, `AMBER`,
        or `RED` in the import statistics, together with the built-in defaults they fall back to.

        Thresholds resolve field by field, from the most specific level to the least specific: stream,
        configuration, tenant, then the built-in default. An unset field falls back to the value at the
        next less-specific level.

        Changing the tenant-wide thresholds requires the `importtool.import_manage` scope.
      operationId: GET-importtool-health-thresholds
      tags:
        - Analytics
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The thresholds are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthSettings'
              examples:
                Health thresholds response:
                  $ref: '#/components/examples/HealthSettings_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
    put:
      summary: Updating the health thresholds
      description: |-
        Updates the tenant's failure-ratio thresholds, which decide when a run is reported as amber or red. Sending an empty body restores the service defaults.

      operationId: PUT-importtool-update-health-thresholds
      tags:
        - Analytics
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthThresholds'
      responses:
        '200':
          description: The request was successful. The effective thresholds are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthSettings'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/license':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving import limits
      description: |-
        Retrieves the tenant's import limits. If an import exceeds `maxRecordsPerEntity`, excess records
        are skipped and the run finishes with the `PARTIAL` status. If `maxConcurrentImports` runs are
        already active, additional run requests are rejected with a `429 Too Many Requests` response.

        Contact [Emporix Support](mailto:support@emporix.com) to have a limit raised.
      operationId: GET-importtool-license
      tags:
        - License
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The request was successful. The limits are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportLicense'
              examples:
                Import license response:
                  $ref: '#/components/examples/ImportLicense_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/runs/{runId}/retry':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_runId'
    post:
      summary: Retrying the failed records of a run
      description: |-
        Starts a new run that reprocesses only the records that failed in the given run, instead of the
        whole source. The new run is returned immediately and reports its own progress; the original run is
        left untouched and keeps its counters.

        As with any run, at most one run can be active per configuration.
      operationId: POST-importtool-retry-run
      tags:
        - Runs
      security:
        - OAuth2:
            - importtool.import_trigger
      responses:
        '200':
          description: The retry run was started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportRun'
              examples:
                Import run response:
                  $ref: '#/components/examples/ImportRun_Example'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '409':
          $ref: '#/components/responses/Conflict_409'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/connections':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving all source connections
      description: |-
        Retrieves the source connections defined for the tenant. A connection holds where the data comes
        from and how to authenticate; its credential is never returned.

      operationId: GET-importtool-list-connections
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The connections are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceConnection'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    post:
      summary: Creating a source connection
      description: |-
        Creates a source connection. Supply the credential in `apiToken`: it is encrypted on write and never
        returned by any read, which reports only `hasSecret`.

      operationId: POST-importtool-create-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceConnection'
      responses:
        '201':
          description: The connection was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceConnection'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/connections/{id}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    get:
      summary: Retrieving a source connection
      description: |-
        Retrieves one source connection. The stored credential is not returned; `hasSecret` reports whether
        one is held.

      operationId: GET-importtool-get-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The connection is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceConnection'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    put:
      summary: Updating a source connection
      description: |-
        Replaces a source connection. Omitting `apiToken` keeps the stored credential; sending one replaces it.

      operationId: PUT-importtool-update-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceConnection'
      responses:
        '200':
          description: The connection was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceConnection'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    delete:
      summary: Deleting a source connection
      description: |-
        Deletes a source connection. Streams still pointing at it will fail to extract.

      operationId: DELETE-importtool-delete-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '204':
          description: The connection was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/connections/{id}/test':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    post:
      summary: Testing a source connection
      description: |-
        Reaches the source with the stored credential and reports whether it answered. Use this after
        creating a connection, rather than discovering the problem during an import run.

        For an HTTP connection, the test calls the base URL, or the endpoint named in the connection's
        optional `config.testPath` under it. An API root often proves nothing about the credential, so name an
        endpoint that requires it, for example `/v1/account`. The result's `url` is the URL that was called.

      operationId: POST-importtool-test-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The test completed. The result reports whether the source was reachable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResult'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/configs/{id}/clone':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    post:
      summary: Cloning an import configuration
      description: |-
        Copies a configuration with its streams and their field mappings. The copy is created disabled and
        with no run history.

      operationId: POST-importtool-clone-config
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '201':
          description: The configuration was cloned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportConfig'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/streams/{streamId}/mappings':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
      - name: targetType
        in: query
        required: false
        description: |-
          For a stream that routes rows to several target types, the type whose mapping set to read or
          replace. Omitted means the base set, which is used by the default type and as the fallback for
          any routed type that has no set of its own.
        schema:
          type: string
    get:
      summary: Retrieving a stream field mappings
      description: |-
        Retrieves the field mappings of a stream: which source column becomes which target attribute, its
        declared type, and any transformations applied on the way.

      operationId: GET-importtool-get-mappings
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The mappings are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMapping'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    put:
      summary: Replacing a stream field mappings
      description: |-
        Replaces the whole mapping set for the stream. The set is authoritative: any mapping not present is
        removed. Every transformation is validated before anything is stored, so an invalid one rejects the
        request rather than failing later during a run.

      operationId: PUT-importtool-replace-mappings
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FieldMapping'
      responses:
        '200':
          description: The mappings were replaced. The stored set is returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMapping'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/streams/{streamId}/mappings/source-fields':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
    get:
      summary: Retrieving the available source fields
      description: |-
        Lists the fields the stream source provides, with an inferred type and a sample value. These are the
        valid values for a mapping `sourcePath`. Nested structures are flattened to dotted paths, and an
        array is offered both as a whole (`borders[]`) and, when it holds objects, by element field
        (`currencies[].code`).

        For an HTTP stream, the fields come from sampling the stream's own endpoint, plus the connection's spec
        when it has one. Without `refresh`, if the sample fails, the endpoint returns the fields that are still
        known — which can be none.

      operationId: GET-importtool-source-fields
      tags:
        - Mappings (Administration)
      parameters:
        - name: limit
          in: query
          required: false
          description: How many records to sample when inferring the fields and their sample values.
          schema:
            type: integer
            default: 10
        - name: refresh
          in: query
          required: false
          description: |-
            If set to `true`, the stream's endpoint is sampled again now. For an HTTP stream, a failed sample then
            returns `502` with the reason, rather than a shorter list. For other sources, and for an HTTP stream
            that names a parent attribute in its request (`{parent.<attr>}`), which has no parent values to sample
            with, a failed sample still returns the fields that are still known instead of an error.
          schema:
            type: boolean
            default: false
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The source fields are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceField'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
        '502':
          description: >-
            With `refresh=true`, the stream's endpoint could not be sampled. The message names the reason, for
            example the status the endpoint answered with.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
              examples:
                Endpoint not found:
                  value:
                    code: 502
                    status: Bad Gateway
                    message: "Could not sample the stream's endpoint: HTTP 404 from https://api.example.com/v1/planets/"

  '/importtool/{tenant}/streams/{streamId}/mappings/target-fields':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
      - name: targetType
        in: query
        required: false
        description: The routed target type whose attributes to list. Omitted means the stream default type.
        schema:
          type: string
    get:
      summary: Retrieving the target type attributes
      description: |-
        Lists the attributes the target type actually declares, across every mixin schema that contributes to
        it, with the Emporix data type of each. These are the valid values for a mapping `targetPath`.

      operationId: GET-importtool-target-fields
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The target attributes are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TargetField'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/streams/{streamId}/mappings/sample-records':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
      - name: limit
        in: query
        required: false
        description: How many records to return (1-50).
        schema:
          type: integer
          default: 10
      - name: refresh
        in: query
        required: false
        description: |-
          Read fresh records from the source instead of what is already available. This performs a real,
          bounded extraction, so it is slower and, for a source that charges for queries, not free. Use it
          when no sample is available: a source that stages its data through an extraction may have had it
          removed once the import completed.
        schema:
          type: boolean
          default: false
    get:
      summary: Retrieving sample source records
      description: |-
        Returns whole records from the source, flattened exactly as the import reads them. Use them with the
        preview operation to see what a mapping would write before running it.

      operationId: GET-importtool-sample-records
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The sample records are returned.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/streams/{streamId}/mappings/preview':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
      - name: targetType
        in: query
        required: false
        description: The routed target type whose mapping set to apply. Omitted means the base set.
        schema:
          type: string
    post:
      summary: Previewing what a mapping writes
      description: |-
        Runs the stream stored mappings over the supplied source records and returns what each would write —
        the result of combining several columns, of every transformation in the chain, and of coercion to the
        declared type. Nothing is written to the target.

      operationId: POST-importtool-preview-mappings
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: true
      responses:
        '200':
          description: The request was successful. The mapped output is returned, one object per supplied record.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/transforms':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving the available transformations
      description: |-
        Lists every transformation a mapping can apply, with its syntax, what it does and an example. A
        mapping applies these in the order given, each fed the output of the one before it.

      operationId: GET-importtool-list-transforms
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The transformations are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransformInfo'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/target-entities':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving the existing target types
      description: |-
        Lists the custom entity types that already exist on the tenant. These are the valid values for a
        stream `targetType`. A type that does not exist yet is created by the first import that writes to it.

      operationId: GET-importtool-list-target-entities
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The target types are returned.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/streams/{streamId}/purge':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_streamId'
      - name: mode
        in: query
        required: false
        description: |-
          `LEDGER` forgets what the stream imported, so a later load rebuilds from scratch. `FULL` also
          deletes the target instances the ledger knows about. `SWEEP` is not available for a stream: it
          deletes every instance of a type, which for a stream's type may include data another stream owns.
        schema:
          type: string
          enum:
            - LEDGER
            - FULL
          default: LEDGER
    post:
      summary: Purging a stream imported data
      description: |-
        {% hint style="warning" %}
        This is irreversible, and the ORDER of the two modes matters. `FULL` finds the instances to delete
        through the import ledger, so anything the ledger has no row for cannot be reached. Running `LEDGER`
        first therefore permanently forfeits the ability to `FULL`-purge those instances: they remain in the
        target with nothing left that knows they came from an import.
        {% endhint %}

        Starts a background job that forgets what this stream imported. The response is the job; poll it to
        follow progress. A purge is refused while a run is active for the configuration, and a run is refused
        while a purge is live for it.

      operationId: POST-importtool-purge-stream
      tags:
        - Purge (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '202':
          description: The purge was accepted and is running. The job is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeJob'
        '400':
          description: The mode is not one this scope accepts.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
        '409':
          $ref: '#/components/responses/Conflict_409'
  '/importtool/{tenant}/purge':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - name: type
        in: query
        required: true
        description: The target type to purge, tenant-wide.
        schema:
          type: string
      - name: mode
        in: query
        required: false
        description: |-
          `LEDGER` forgets what was imported. `FULL` also deletes the instances the ledger knows about.
          `SWEEP` deletes EVERY instance of the type, including ones no import created — the only mode that
          can remove instances the ledger has lost track of.
        schema:
          type: string
          enum:
            - LEDGER
            - FULL
            - SWEEP
          default: LEDGER
    post:
      summary: Purging a target type
      description: |-
        {% hint style="warning" %}
        This is irreversible. `SWEEP` deletes every instance of the type regardless of where it came from,
        including data no import created. `LEDGER` run before `FULL` permanently forfeits the ability to
        `FULL`-purge, because `FULL` reaches instances through the ledger it just discarded.
        {% endhint %}

        Starts a background job over every record of the target type. The response is the job; poll it to
        follow progress. A `FULL` purge also reports how many instances of the type the ledger has no row
        for, rather than reporting a clean success while they survive.

      operationId: POST-importtool-purge-type
      tags:
        - Purge (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '202':
          description: The purge was accepted and is running. The job is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeJob'
        '400':
          description: The mode is not one of LEDGER, FULL or SWEEP.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
        '409':
          $ref: '#/components/responses/Conflict_409'
  '/importtool/{tenant}/purges':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - name: limit
        in: query
        required: false
        description: How many jobs to return, most recent first.
        schema:
          type: integer
          default: 20
    get:
      summary: Retrieving recent purges
      description: |-
        Retrieves recent purge jobs for the tenant, most recent first.

      operationId: GET-importtool-list-purges
      tags:
        - Purge (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The purge jobs are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurgeJob'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/purges/{id}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    get:
      summary: Retrieving a purge
      description: |-
        Retrieves one purge job: its counters, and the batch-by-batch log including any per-item delete
        errors. A purge of millions of records takes many minutes, so poll this rather than waiting on the
        request that started it.

      operationId: GET-importtool-get-purge
      tags:
        - Purge (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The purge job is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeJob'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/purges/latest':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - name: streamId
        in: query
        required: false
        description: The stream whose most recent purge to return.
        schema:
          type: string
          format: uuid
      - name: type
        in: query
        required: false
        description: The target type whose most recent purge to return.
        schema:
          type: string
    get:
      summary: Retrieving the latest purge for a scope
      description: |-
        Retrieves the most recent purge job for a stream or a target type. Use it to re-attach to a purge
        that is still running after leaving the page that started it.

      operationId: GET-importtool-latest-purge
      tags:
        - Purge (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The purge job is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurgeJob'
        '204':
          description: No purge has been run for that scope.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/mappings/export':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - name: configId
        in: query
        required: false
        description: |-
          The configuration to export. Repeat the parameter to export several; omit it to export every
          configuration on the tenant.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: format
        in: query
        required: false
        description: |-
          `xlsx` documents a configuration for reading — an overview sheet plus one sheet per stream.
          `postman` emits a collection that RECREATES the configuration on another tenant.
        schema:
          type: string
          enum:
            - xlsx
            - postman
          default: xlsx
    get:
      summary: Exporting field mappings
      description: |-
        Exports the field mappings of one or more configurations.

        The `postman` collection creates each job and stream on the target tenant and captures the returned
        identifiers, so it can be replayed against a different tenant. Connections are never exported —
        they hold credentials — so the collection takes a `connectionId` variable to point at one that
        already exists there.

      operationId: GET-importtool-export-mappings
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The export is returned as a file.
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'
  '/importtool/{tenant}/dashboard/job-groups/{id}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    put:
      summary: Updating a job group
      description: |-
        Updates a job group's name or the configurations assigned to it.

      operationId: PUT-importtool-update-job-group
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobGroup'
      responses:
        '200':
          description: The request was successful. The job group was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobGroup'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

    delete:
      summary: Deleting a job group
      description: |-
        Deletes a job group. The import configurations it grouped are not affected.

      operationId: DELETE-importtool-delete-job-group
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '204':
          description: The request was successful. The resource was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/configs/dashboard':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving the administration overview
      description: |-
        Retrieves one row per import configuration with its current status, last and next run, and error count — the administration overview of every job on the tenant.

      operationId: GET-importtool-config-dashboard
      tags:
        - Configurations (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The overview rows are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigDashboardRow'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/configs/{configId}/mapping-states':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_configId'
    get:
      summary: Retrieving the mapping publish state of each stream
      description: |-
        Retrieves, for every stream in the configuration, whether its mappings are published and whether the draft has since moved ahead of what runs execute.

      operationId: GET-importtool-mapping-states
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The states are returned, keyed by stream identifier.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/MappingPublishState'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/adapters':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving the available source adapters
      description: |-
        Retrieves the source adapters this deployment provides, with the capabilities and configuration fields each one expects. A connection names one of these by its code.

      operationId: GET-importtool-list-adapters
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The adapters are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdapterDescriptor'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/target-writers':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Retrieving the available target writers
      description: |-
        Retrieves the target writers this deployment provides — the destinations a stream can write to, such as Emporix custom entities.

      operationId: GET-importtool-list-target-writers
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      responses:
        '200':
          description: The request was successful. The target writers are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/transforms/validate':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
    get:
      summary: Validating a transformation expression
      description: |-
        Checks a transformation expression without saving it, reporting whether it parses and what it would produce.

      operationId: GET-importtool-validate-transform
      tags:
        - Mappings (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      parameters:
        - name: transform
          in: query
          required: false
          description: The transformation expression to check.
          schema:
            type: string
      responses:
        '200':
          description: The request was successful. The validation outcome is returned.
          content:
            application/json:
              schema:
                type: object
                description: Whether the expression is valid, and the reason when it is not.
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/connections/{id}/browse/{kind}':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
      - name: kind
        in: path
        required: true
        description: The kind of object to list, as advertised by the adapter — for example `records` or `kpis`.
        schema:
          type: string
    post:
      summary: Browsing the objects a connection exposes
      description: |-
        Lists the objects available through a connection — the source records a stream can be built on, and any computed metrics the adapter exposes alongside them.

      operationId: POST-importtool-browse-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Adapter-specific parameters narrowing what is listed.
              additionalProperties: true
      responses:
        '200':
          description: The request was successful. The objects are returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/connections/{id}/sample':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    post:
      summary: Sampling a connection's base URL
      description: |-
        Samples the connection's base URL, or an optional `path` under it, and stores the inferred fields on the
        connection. Nothing is imported.

        The stored fields are not offered to streams: a base URL is often only the API root, so its fields
        describe no stream. To find the fields of a stream's own endpoint, saved or not, use the
        **Sampling a stream's endpoint** operation.

      operationId: POST-importtool-sample-connection
      tags:
        - Connections (Administration)
      security:
        - OAuth2:
            - importtool.import_manage
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                path:
                  type: string
                  description: A path under the base URL to sample. If omitted, the base URL itself is sampled.
            examples:
              Sample a sub-path:
                value:
                  path: /people/
      responses:
        '200':
          description: The request was successful. The inferred fields are returned and stored on the connection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: How many fields were found.
                  fields:
                    type: array
                    description: The fields found, each with the type inferred from its values.
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The path to the field, dotted for nested structures.
                        type:
                          type: string
                          description: The Emporix type the values look like.
              examples:
                Fields found:
                  value:
                    count: 2
                    fields:
                      - name: name
                        type: TEXT
                      - name: homeworld
                        type: TEXT
        '400':
          description: >-
            The sample failed. The message names the reason — for example a missing credential, an unreachable
            host, or a path that does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorMessage'
              examples:
                Path not found:
                  value:
                    code: 400
                    status: Bad Request
                    message: 'Live sample failed: HTTP 404 from https://api.example.com/v1/people/'
        '401':
          $ref: '#/components/responses/Unauthorized_401'
        '403':
          $ref: '#/components/responses/Forbidden_403'
        '404':
          $ref: '#/components/responses/NotFound_404'
        '500':
          $ref: '#/components/responses/InternalServiceError_500'

  '/importtool/{tenant}/connections/{id}/sample-stream':
    parameters:
      - $ref: '#/components/parameters/trait_tenant'
      - $ref: '#/components/parameters/trait_id'
    post:
[...]
